<header class="site-header">
  <div class="wrap">
    <div class="site-header-inner">

      <a href="{{ site.baseurl }}/" class="site-title">
        {% include logo.html %}

        <span class="site-title-long">Explorings of The Deep</span>
        <span class="site-title-short">EoTD</span>
      </a>

      <nav class="site-nav">
        <a class="site-nav-link site-nav-link-desktop" href="{{ site.baseurl }}/">Home</a>

        <details class="site-nav-menu">
          <summary class="site-nav-hamburger" aria-label="Toggle navigation" role="button">
            <span></span>
            <span></span>
            <span></span>
          </summary>
          <div class="site-nav-dropdown">
            <a class="site-nav-link" href="{{ site.baseurl }}/">Home</a>
          </div>
        </details>
      </nav>

    </div>
  </div>
</header>