/* Dark-friendly syntax highlighting */

.highlight .hll { background-color: rgba(255, 255, 255, 0.08) }
.highlight .c { color: #7f8ea3; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #ff6b6b } /* Error */
.highlight .k { color: #c792ea; font-weight: bold } /* Keyword */
.highlight .o { color: #89ddff } /* Operator */
.highlight .cm { color: #7f8ea3; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #c792ea } /* Comment.Preproc */
.highlight .c1 { color: #7f8ea3; font-style: italic } /* Comment.Single */
.highlight .cs { color: #8fa3bf; background-color: rgba(255, 255, 255, 0.05) } /* Comment.Special */
.highlight .gd { color: #ff7b7b } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #ff6b6b } /* Generic.Error */
.highlight .gh { color: #82aaff; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #93e7b0 } /* Generic.Inserted */
.highlight .go { color: #98a6bd } /* Generic.Output */
.highlight .gp { color: #ffcb6b; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #f78c6c; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #89ddff } /* Generic.Traceback */
.highlight .kc { color: #c792ea; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #c792ea; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #c792ea; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #c792ea } /* Keyword.Pseudo */
.highlight .kr { color: #c792ea; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #82aaff } /* Keyword.Type */
.highlight .m { color: #f78c6c } /* Literal.Number */
.highlight .s { color: #c3e88d } /* Literal.String */
.highlight .na { color: #89ddff } /* Name.Attribute */
.highlight .nb { color: #82aaff } /* Name.Builtin */
.highlight .nc { color: #ffcb6b; font-weight: bold } /* Name.Class */
.highlight .no { color: #f07178 } /* Name.Constant */
.highlight .nd { color: #c792ea; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #ffcb6b; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #ff5370 } /* Name.Exception */
.highlight .nf { color: #82aaff } /* Name.Function */
.highlight .nl { color: #89ddff; font-weight: bold } /* Name.Label */
.highlight .nn { color: #ffcb6b; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #ff5370; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #f07178 } /* Name.Variable */
.highlight .ow { color: #89ddff; font-weight: bold } /* Operator.Word */
.highlight .w { color: #5f6b7f } /* Text.Whitespace */
.highlight .mf { color: #f78c6c } /* Literal.Number.Float */
.highlight .mh { color: #f78c6c } /* Literal.Number.Hex */
.highlight .mi { color: #f78c6c } /* Literal.Number.Integer */
.highlight .mo { color: #f78c6c } /* Literal.Number.Oct */
.highlight .sb { color: #c3e88d } /* Literal.String.Backtick */
.highlight .sc { color: #c3e88d } /* Literal.String.Char */
.highlight .sd { color: #c3e88d; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #c3e88d } /* Literal.String.Double */
.highlight .se { color: #ffcb6b; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #c3e88d } /* Literal.String.Heredoc */
.highlight .si { color: #89ddff; font-style: italic } /* Literal.String.Interpol */
.highlight .sx { color: #f78c6c } /* Literal.String.Other */
.highlight .sr { color: #89ddff } /* Literal.String.Regex */
.highlight .s1 { color: #c3e88d } /* Literal.String.Single */
.highlight .ss { color: #ffcb6b } /* Literal.String.Symbol */
.highlight .bp { color: #82aaff } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f07178 } /* Name.Variable.Class */
.highlight .vg { color: #f07178 } /* Name.Variable.Global */
.highlight .vi { color: #f07178 } /* Name.Variable.Instance */
.highlight .il { color: #f78c6c } /* Literal.Number.Integer.Long */

.language-makefile .highlight .nv { color: #f07178; font-weight: bold }
.language-makefile .highlight .nt { color: #e5ecf5; font-weight: bold }
/* re-purposing for RISC-C assembly, suppress errors */
.language-ini .highlight .err { border: none }

